@import './variables/variables.scss';

.content-random {
    display: flex;
    .card-grid {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    .card-grid {
        .card {
            object-fit: cover;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            border-radius: 0.5rem;
            h3 {
                padding: 0.5rem 0;
                font-family: $NotosansSemiBold;
                color: $dark;
                font-size: 1.5rem;
                > a {
                    color: $dark;
                    line-height: 1.3rem;
                    background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
                    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
                    background-size: 0px 6%;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    -webkit-transition-duration: 0.6s;
                    transition-duration: 0.6s;
                    font-weight: inherit;
                    &:hover {
                        background-size: 100% 6%;
                        color: $flat6;
                    }
                }
            }

            .summary {
                font-family: $NotosansRegular;
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: $dark3;
                > p {
                    font-family: $NotosansRegular;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    color: $dark3;
                }
            }
          
            > .inner-card {
                padding-left: 1rem;
                > time {
                    font-family: 'Courier New', monospace;
                    font-weight: normal;
                    font-size: 0.9rem;
                    display: block;
                    color: $black;
                    padding: 0.5rem 0;
                }
            }
            > a {
                > img {
                    object-fit: cover;
                    width: 12.375rem;
                    height: 8.375rem;
                    border-radius: 0.5rem;
                    transition: filter 0.3s ease-in-out;
                    &:hover {
                        filter: saturate(3.5);
                    }
                }
            }
        }
        > .inner-card {
            display: flex;
        }
    }
    a.category-badge {
        text-decoration: none;
        padding: 0.3rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-family: $NotosansRegular;
        transition: filter 0.3s ease-in-out;
    }
    .category-badge {
        &:hover {
            filter: saturate(3);
        }
    }
    .circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0.05rem;
    }
    .category-badge.category {
        background: #e6f4f9;
        color: #000000;
        font-weight: normal;
    }
    .category {
        .circle {
            background: #01904b;
        }
    }
}

@media screen and (max-width: 767px) {
    .content-random {
        display: flex;
        flex-direction: column;
        .card-grid {
            .card {
                > a {
                    img {
                        width: 9.063rem;
                        height: 11.25rem;
                    }
                }

                > .inner-card {
                    > h3 {
                        font-size: 1.2rem;
                        line-height: 0;
                    }

                    > .summary {
                        display: none;
                    }
                }
            }
        }
    }
}

