.widget_searchbar_widget {
  padding: 1rem 1rem;
}

.widget_searchbar_widget > #searchWidgetForm {
  display: flex;
}

.widget_searchbar_widget button#searchWidgetSubmit {
  cursor: pointer;
  border: 1px solid #f0f0f0;
  margin-left: -1px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0 1rem;
  height: 42px;
  line-height: 42px;
  background: #f0f0f0;
}

.widget_searchbar_widget button#searchWidgetSubmit:hover {
  opacity: 0.8;
}

.widget_searchbar_widget > #searchWidgetForm > input[type=text] {
  height: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem 0 0 0.25rem;
  font-family: sans-serif;
  font-size: 1rem;
}
