$white: white;
$dark: black;
$red: red;
$black: black;
$color4: transparent;
$NotosansMedium: Georgia, serif;
$NotosansBold: Georgia, serif;
$NotosansRegular: Georgia, serif;
$NotosansSemiBold: Georgia, serif;
$bg1: #0595a2;
$bg2: #c0c0c0;
$bg3: #f0f0f0;
$bgWhite: white;
$bgBlack: black;


// Unicorn Flat
$flat1: #F15A5A;
$flat2: #F0C419;
$flat3: #4EBA6F;
$flat4: #2D95BF;
$flat5: #955BA5;
$flat6: #ff00de;
$flat7: #e6f4f9;
$flat8: rgba(255,105,0,1);
// Unicorn Dark 
$dark1: #D9D9D9;
$dark2: #A6A6A6;
$dark3: #595959;
$dark4: #262626;
$dark5: #0D0D0D;

