.content-news {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  gap: 2rem;
  height: 100%;
  padding: 1rem;
}

.content-news img {
  border-radius: 0.5rem;
}

.content-news > .card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.content-news > .card > a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.content-news > .card > a > h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: Georgia, serif;
  font-weight: 900;
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
}

.content-news > .card > a > h3 span {
  background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0px 6%;
  background-repeat: no-repeat;
  background-position: left 100%;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  font-weight: inherit;
  color: white;
}

.content-news > .card > a > h3 > time {
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 0.9rem;
  display: block;
  color: white;
}

.content-news > .card:hover > a::after {
  background: transparent;
  filter: saturate(1);
}

.content-news > .card:hover > a > h3 span {
  background-size: 100% 6%;
}

.content-news > .card:hover > h3 a {
  background-size: 100% 6%;
}

.content-news > .card:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  min-width: 35vw;
  height: 100%;
}

.content-news > .card:nth-child(1) > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-news > .card:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(2) > a > img {
  width: 100%;
  min-width: 268px;
  height: 100%;
  object-fit: cover;
}

.content-news > .card:nth-child(2) > a > h3 {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.content-news > .card:nth-child(3) {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(3) > a > img {
  width: 100%;
  height: 264px;
  object-fit: cover;
}

.content-news > .card:nth-child(3) > a > h3 {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.content-news > .card:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(4) > a > img {
  width: 100%;
  height: 264px;
  object-fit: cover;
}

.content-news > .card:nth-child(4) > a > h3 {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.content-news > .card > h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  line-height: 1.3rem;
  padding: 1rem 1rem;
}

.content-news > .card > h3 a {
  background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0px 6%;
  background-repeat: no-repeat;
  background-position: left 100%;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  font-weight: inherit;
  color: white;
}

@media screen and (max-width: 767px) {
  .content-news {
    width: 100%;
    display: contents;
  }
  .content-news img {
    border-radius: 0;
  }
  .content-news > .card {
    width: 100%;
  }
  .content-news > .card > a {
    flex-direction: column;
  }
  .content-news > .card > a::after {
    border-radius: 0;
    background: none;
    opacity: 1;
  }
  .content-news > .card > a > h3 {
    position: relative;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: sans-serif;
    background: transparent;
  }
  .content-news > .card > a > h3 > span {
    color: #0D0D0D;
  }
  .content-news > .card > a > h3 > time {
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 0.9rem;
    display: block;
    color: black;
  }
  .content-news > .card:nth-child(1) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-column-end: auto;
    height: auto;
    width: 100%;
  }
  .content-news > .card:nth-child(1) > a > img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
  .content-news > .card:nth-child(1) > a > h3 {
    font-family: Georgia, serif;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .content-news > .card:nth-child(2) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-column-end: auto;
    height: auto;
    width: 100%;
  }
  .content-news > .card:nth-child(2) > a > img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
  .content-news > .card:nth-child(2) > a > h3 {
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .content-news > .card:nth-child(3) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-column-end: auto;
    height: auto;
    width: 100%;
  }
  .content-news > .card:nth-child(3) > a > img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
  .content-news > .card:nth-child(3) > a > h3 {
    font-family: Georgia, serif;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .content-news > .card:nth-child(4) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-column-end: auto;
    height: auto;
    width: 100%;
  }
  .content-news > .card:nth-child(4) > a > img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
  .content-news > .card:nth-child(4) > a > h3 {
    font-family: Georgia, serif;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .content-news > .card > h3 {
    font-size: 1rem;
    color: black;
    font-family: Georgia, serif;
    padding: 1rem 1rem;
    position: initial;
    line-height: 1.5rem;
    font-size: 1.3rem;
  }
  .content-news > .card > h3 > a {
    color: black;
  }
  .content-news > .card > a {
    position: relative;
  }
  .content-news .card img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-news {
    gap: 5px;
  }
}
